
{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block titre %}{{ entity.titre }}{% endblock %}


{% block content %}


<form action="{{ path('mediaEvt_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    {% if entity.type == 'p' %} <img class="img-polaroid" width="350px" src="{{asset('medias/Evt/photos/big/')}}{{ entity.url }}" alt=""/>{% endif %}
        <br>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <a class="btn" href="{{ path('mediaEvt') }}"><i class="icon-ban-circle"></i> Annuler</a>
    
</form>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <form action="{{ path('mediaEvt_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> Supprimer {{ entity.titre }}</button>
        </form>
    {% endif %}

<script>
 $("#idmedias").addClass("active");
 </script>
{% endblock content %}