
{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block titre %}{{ entity.titre }}{% endblock %}


{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Titre: </th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Url: </th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>Type: </th>
            <td>{% if entity.type == 'p' %}Photo{% else %}Video{% endif %}</td>
        </tr>
    </tbody>
</table>
{% if entity.type == 'p' %}
<br><img class="img-polaroid" width="450" src="{{asset('medias/Evt/photos/big/')}}{{ entity.url }}" alt=""/>
{% endif %}

<br><br>

      <a class="btn" href="{{ path('mediaEvt') }}"><i class="icon-arrow-left"></i> Revenir à la liste des médias associés à un évènement</a>
      <a class="btn" href="{{ path('mediaEvt_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Editer</a>
<script>
 $("#idmedias").addClass("active");
 </script>
{% endblock content %}