{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}

<a class="btn btn-info" href="{{ path('typeevenement_new') }}"><i class="icon-white icon-plus"></i> Ajouter un type d'évenement</a>
<br><br>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Label</th>
            <th>Picto</th>
            <th width="160px;">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('typeevenement_show', { 'id': entity.id }) }}">{{ entity.label }}</a></td>
            <td><img class="img-polaroid" style="width:75px;" src="{{asset('medias/picto/')}}{{ entity.picto }}" alt=""/></td>
            <td>
                <a class="btn btn-info" href="{{ path('typeevenement_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
$("#idautres").addClass("active");
</script>
{% endblock %}