{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block titre %}Modification : {{ entity}} {% endblock %}


{% block content %}
<div class="well">
<form action="{{ path('evenement_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
     {{ tinymce_init() }}
   <div class="row">
     <div class="span6">
      {{ form_label(form.titreEvenement) }}
      {{ form_errors(form.titreEvenement) }}
      {{ form_widget(form.titreEvenement, { 'attr': {'style': 'width:570px;'} }) }}
     </div>
 </div>
 <div class="row"> 
      <div class="span11">    
      {{ form_label(form.descriptionEvenement) }}
      {{ form_errors(form.descriptionEvenement) }}
      {{ form_widget(form.descriptionEvenement, { 'attr': {'style': 'width:1130px;'} }) }}
      </div>
  <br/>
</div>
 <div class="row">
    <div class="offset1 span5">
      {{ form_label(form.idType) }}
      {{ form_errors(form.idType) }}
      {{ form_widget(form.idType) }} 
    </div>
    <div class="span5">       
       {{ form_label(form.idIntervenants) }}
      {{ form_errors(form.idIntervenants) }}
      {{ form_widget(form.idIntervenants) }} 
    </div>
 </div>
  <br/>
  <div id="ajout_media">
  <h5>Médias associés</h5>
  <div id="list_medias"> 
      {% for key, item in form.idMedias %}
          {{ _self.prototype(item) }}
      {% endfor %}
      {% macro prototype(item) %}
        <div class="themedia">
           <div class="row inthemedia">
            <div class="span6">
             {{ form_label(item.titre) }}
             {{ form_errors(item.titre) }}
             {{ form_widget(item.titre, { 'attr': {'style': 'width:570px;'} }) }}
            </div>
            <div class="span2">
             {{ form_label(item.type) }}
             {{ form_errors(item.type) }}
             {{ form_widget(item.type, { 'attr': {'style': 'width:110px;'} }) }}
            </div> 

           </div>
           <div class="row inthemedia">           
            <div class="span4">
             {{ form_label(item.url) }}
             {{ form_errors(item.url) }}
             {{ form_widget(item.url, { 'attr': {'style': 'width:370px;'} }) }}
            </div>
            <div class="span4">
             {{ form_label(item.file) }}
             {{ form_errors(item.file) }}
             {{ form_widget(item.file, { 'attr': {'style': 'marging-left:30px;'} }) }}
            </div>
            <div class="offset1 span1">
              <br/>
              <a  class="btn btn-danger" href="#supp_media" rel="parametre">Supprimer</a>
            </div>
           </div>
       </div>
       <br/>
     {% endmacro %}
     <script type="text/html">
       {{ _self.prototype(form.idMedias.get('prototype')) }} 
     </script>
 </div>
 <div class="row">  
  <div class="span12">
    <a class="btn btn-info" href="#add_media" id="add_media"><i class="icon-white icon-plus"></i> Ajouter un média</a>
  </div>
 </div>
 <br/>
</div>
    {{ form_widget(form) }}
 
        <br><br>
        
      <button class="btn btn-primary" type="submit">Enregistrer</button>
      <a class="btn" href="{{ path('evenement') }}"><i class="icon-ban-circle"></i> Annuler</a>

</form>

        <form action="{{ path('evenement_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
          <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i>Supprimer {{ entity }}</button>
        </form>
</div>
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    /*$('input[type=file]').change(function(e){
        var fichier = $(this).val();
        $("#affichefilm").html('<img src='+ fichier + ' />');
    });*/
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('#cinemino_Sitebundle_filmcreatetype_idMedias');
 
    // On définit une fonction qui va ajouter un champ.
    function add_media() {
        index = $container.children().length;
	var newForm = $('script[type="text/html"]').text().replace(/\$\$name\$\$/g, index);

	$("div#list_medias").append(newForm);

              
    }

    // On ajoute un premier champ directement s'il n'en existe pas déjà un.
 
 
    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_media').click(function() {
        add_media();
    });
    
        $("div#list_medias").on("click","a[rel='parametre']", function(){ 
          if (confirm('Voulez vous réellement supprimer ce média ?')) {
            $(this).parents("div.themedia").remove();
          }
        	
        });
});

</script>
{% endblock %}

  
        
      