<a class="btn btn-info" href="{{ path('evenement_new') }}"><i class="icon-white icon-plus"></i> Ajouter un évenement</a>
<br><br>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th width="150px">Titre de l'évènement</th>
            <th width="500px">Description de l'évènement</th>
            <th width="100px">Type</th>
            <th width="100px">Intervenants</th>
            <th width="160px">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      {% if entity.priorite is not defined %}
        <tr>
            <td><a href="{{ path('evenement_show', { 'id': entity.id }) }}">{{ entity.titreEvenement }}</a></td>
            <td>{{ entity.descriptionEvenement|raw }}</td>
            <td>{{ entity.idType.label }}</td>
            <td>
                {% if entity.idIntervenants[0] is defined %}
                  {% for evt in entity.idIntervenants %}
                   <a href="{{ path('intervenant_show', { 'id': evt.id }) }}">{{ evt.nomIntervenant }}</a>
                   <br/>
                  {% endfor %}
                {% endif %}
            </td>
            <td>
                <a class="btn" href="{{ path('evenement_show', { 'id': entity.id }) }}"><i class="icon icon-search"></i> Info</a>
                <a class="btn btn-info" href="{{ path('evenement_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
            </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>
