{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}

<form action="{{ path('document_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
   {{ tinymce_init() }}
           {{ tinymce_init() }}
 <div class="row" style="width:1170px">
     <div class="span6">
      {{ form_label(form.nomDocument) }}
      {{ form_errors(form.nomDocument) }}
      {{ form_widget(form.nomDocument, { 'attr': {'style': 'width:570px;'} }) }}
     </div>
 </div>
 <div class="row"> 
      <div class="span12">    
      {{ form_label(form.descriptifDocument) }}
      {{ form_errors(form.descriptifDocument) }}
      {{ form_widget(form.descriptifDocument, { 'attr': {'style': 'height:200px;'} }) }}
      </div>
  <br/>
</div> 
 <div class="row">
    <div class="span2">
     <div id="datetimepicker1" class="input-append date">
      {{ form_label(form.debutaffichage) }}
      {{ form_errors(form.debutaffichage) }}
      {{ form_widget(form.debutaffichage) }}
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
     </div>
   </div>
   <div class="offset3 span2">       
     <div id="datetimepicker2" class="input-append date">
      {{ form_label(form.finaffichage) }}
      {{ form_errors(form.finaffichage) }}
      {{ form_widget(form.finaffichage) }}
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
     </div>
   </div>
 </div>  
   <br/> 
 <div class="row">
   <div class="span3">
     {{ form_label(form.urlFichier) }}
     {{ form_errors(form.urlFichier) }}
     {{ form_widget(form.urlFichier, { 'attr': {'style': 'width:255px'} }) }}
  </div>
  <div class="span3">
     {{ form_label(form.filefichier) }}
     {{ form_errors(form.filefichier) }}
     {{ form_widget(form.filefichier) }}
  </div>
  </div>
   {{ form_widget(form) }}
   <br/>
   <div class="row"> 
       <div class="span3">
         <button class="btn btn-primary" type="submit">Modifier le document</button>
         <a class="btn" href="{{ path('document') }}"><i class="icon-ban-circle"></i> Annuler</a>
        </div>
  </div>

</form>
<div class="row"> 
   <div class="span4">
           <form action="{{ path('document_delete', { 'id': entity.id }) }}" method="post">
                   {{ form_widget(delete_form) }}
                 <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i>Supprimer {{ entity.nomDocument }}</button>
           </form>
   </div>
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'FR',
      format :'dd/MM/yyyy',
      pickTime: false,
    });
    $('#datetimepicker2').datetimepicker({
      language: 'FR',
      format :'dd/MM/yyyy',
      pickTime: false
    });

 $("#idautres").addClass("active");

  });
</script>
{% endblock %}
