{% extends "CineminoSiteBundle::layout.html.twig" %}
{% block content %}

<a class="btn btn-info" href="{{ path('mediain_new') }}"><i class="icon-white icon-plus"></i> Ajouter un média réalisé durant cinémino</a>
<br/>
<table class="table table-bordered table-striped table-hover" style="border-collapse: collapse;">
    <caption><h4>Les médias réalisés durant cinémino</h4></caption>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Url</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entitiesIn %}
        <tr>
            <td><a href="{{ path('mediain_show', { 'id': entity.id }) }}">{{ entity.titre }}</a></td>
            <td>{{ entity.url|raw }}</td>
            <td>          
             {% if entity.type == 'p' %} <img class="img-polaroid" style="height:70px;" src="{{asset('medias/In/photos/small/')}}{{ entity.url }}" alt=""/>
             {% elseif entity.type == 'v' %} Video
             {% elseif entity.type == 'd' %} Documents
             {% else %} Son
             {% endif %}
            </td>
            <td width="160px">
                
          <a class="btn" href="{{ path('mediain_show', { 'id': entity.id }) }}"><i class="icon icon-search"></i> Info</a>
                        <a class="btn btn-info" href="{{ path('mediain_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
 $("#idmedias").addClass("active");
 </script>
{% endblock content %}
