{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}
<div class="well">
<form action="{{ path('mediain_create') }}" method="post" {{ form_enctype(form) }}>
 <div class="row">
  <div class="span10">
      {{ form_label(form.titre) }}
      {{ form_errors(form.titre) }}
      {{ form_widget(form.titre, { 'attr': {'style': 'width:1100px;'} }) }}
  </div>
 </div>
 <div class="row">
    <div class="span5">
     <div id="datetimepicker1" class="input-append date">
      {{ form_label(form.dateDebut) }}
      {{ form_errors(form.dateDebut) }}
      {{ form_widget(form.dateDebut) }}
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
     </div>
   </div>
   <div class="span4">       
     <div id="datetimepicker2" class="input-append date">
      {{ form_label(form.dateFin) }}
      {{ form_errors(form.dateFin) }}
      {{ form_widget(form.dateFin) }}
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
     </div>
   </div>
 </div> 
    {{ form_widget(form) }}
        <br>
        
       <button class="btn btn-primary" type="submit">Valider la création</button>
       <a class="btn" href="{{ path('mediain') }}"><i class="icon-arrow-left"></i> Revenir à la liste des médias réalisés durant cinémino</a>
</form>
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'FR',
      format :'dd/MM/yyyy',
      pickTime: false,
    });
    $('#datetimepicker2').datetimepicker({
      language: 'FR',
      format :'dd/MM/yyyy',
      pickTime: false
    });

 $("#idmedias").addClass("active");

  });
</script>
{% endblock %}
