{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block titre %}{{ entity.titre }}{% endblock %}


{% block content %}

<table class="table table-bordered table-striped table-hover">
    <tbody>
        <tr>
            <th>Titre: </th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Url: </th>
            <td>{{ entity.url|raw }}</td>
        </tr>
        <tr>
            <th>Datedebut</th>
            <td>{{ entity.dateDebut|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Datefin</th>
            <td>{{ entity.dateFin|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Type: </th>
            <td>
                {% if entity.type == 'p' %} <img class="img-polaroid" src="{{asset('medias/In/photos/small/')}}{{ entity.url }}" alt=""/>
                {% elseif entity.type == 'v' %} Video
                {% elseif entity.type == 'd' %} Documents
                {% else %} Son
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<br><br>

  <div class="row"> 
      <div class="span5">
        <a class="btn" href="{{ path('mediain') }}"><i class="icon-arrow-left"></i> Revenir à la liste des médias associés à Cinémino</a>
        <a class="btn btn-info" href="{{ path('mediain_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
      </div>
        <div class="span5">        
      <form action="{{ path('mediain_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
          <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> Supprimer {{ entity.titre }}</button>
        </form>
       </div>
  </div>
<script>
 $("#idmedias").addClass("active");
 </script>
{% endblock content %}
