
{% extends "CineminoSiteBundle::layout.html.twig" %}
{% block title %}
{{ parent() }}
{% endblock %}

{% block alert %}Ici vous pouvez gérer les intervenants qui viennent dans les évènements dont vous avez la charge.<br> 

{% endblock %}

{% block titre %}Liste des intervenants{% endblock %}


{% block content %}
<a class="btn btn-info" href="{{ path('intervenant_new') }}"><i class="icon-white icon-plus"></i> Ajouter un intervenant</a>
<br><br>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th width="150px">Nom de l'intervenant</th>
            <th width="300px">Description de l'intervenant</th>
            <th width="90px">Url photo</th>
            <th width="85px">Url logo</th>
            <th width="160px">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('intervenant_show', { 'id': entity.id }) }}">{{ entity.nomIntervenant }}</a></td>
            <td>{{ entity.descriptionIntervenant|raw }}</td>
            <td>{% if entity.urlPhotoIntervenant is not null %}<img class="img-polaroid" src="{{asset('medias/Intervenant/photos/small/')}}{{ entity.urlPhotoIntervenant }}" alt=""/>{% endif %}</td>
            <td>{% if entity.urlLogo is not null %}<img class="img-polaroid" src="{{asset('medias/Intervenant/logo/small/')}}{{ entity.urlLogo }}" alt=""/>{% endif %}</td>
            <td>
              
                   
          <a class="btn" href="{{ path('intervenant_show', { 'id': entity.id }) }}#show"><i class="icon icon-search"></i> Info</a>
          <a class="btn btn-info" href="{{ path('intervenant_edit', { 'id': entity.id }) }}#formulaire"><i class="icon-white icon-pencil"></i> Editer</a>
      
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>



{% block formulaire %}

{% endblock formulaire %}



{% endblock %}