
{% extends "CineminoUserBundle::userlayout.html.twig" %}

{% block title %}
{{ parent() }} -  Utilisateurs
{% endblock %}

{% block alert %}Ici vous pouvez gérer l'ensemble des utilisateurs.
{% endblock %}



{% block formulaire %}
<body onLoad="scrolldown();"> 
    
<div class="well" style="width:400px">
<div class="page-header"><h3>Modification compte : {{ entity.username }}</h3></div>   

<form action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
       <br> 
    <p>
        <button class="btn btn-primary" type="submit">Enregistrer</button>
        <a class="btn" href="{{ path('user') }}"><i class="icon-ban-circle"></i> Annuler</a>
    </p>
</form>
{% if entity.id != 1 %}
        <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> Supprimer le compte {{ entity.username }}</button>
        </form>
{% endif %} 
</div>
{% endblock formulaire %}

