{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}

<a class="btn btn-info" href="{{ path('seance_new') }}"><i class="icon-white icon-plus"></i> Créer une séance</a>
<br><br>

{% for cin in cinemas %}

<table class="table table-bordered table-striped table-hover">
   <h3><a href="{{ path('cinema_show', { 'id': cin.getId() }) }}">{{ cin.nomCinema}}</a></h3>
    <thead>
        <tr bgcolor="#F6FFA3">
            <th width='100px'>Date de la séance</th>
            <th width='50px'>Heure</th>
            <th width='300px'>Film</th>
            <th width='50px'>Version</th>
            <th width='30px'>Type</th>
            <th width='30px'>Avant premiere</th>
            <th width='30px'>Sortie nationale</th>
            <th width='100px'>Evènements</th>
            <th width='160px'>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
       {% if entity.idCinema == cin %}     
          <tr bgcolor="white">
            <td><a href="{{ path('seance_show', { 'id': entity.id }) }}">{{ entity.dateSeance|date("d/m/Y") }}</a></td>
            <td>{{ entity.dateSeance|date("H:i") }}</td>
            <td>{{ entity.idFilm.titreFilm }} Réalisé par {{ entity.idFilm.realisateur }}</td>           
            <td>{{ entity.version }}</td>
            <td>{{ entity.type }}</td>
            <td>{% if entity.avantPremiere == 'o' %}Oui{% else %}Non{% endif %}</td>
            <td>{% if entity.sortieNationale == 'o' %}Oui{% else %}Non{% endif %}</td>
            <td>{% if entity.idEvenements[0] is defined %}
                  {% for evt in entity.idEvenements %}
                   <a href="{{ path('evenement_show', { 'id': evt.id }) }}">{{ evt.titreEvenement }}</a>
                  {% endfor %}
                {% endif %}
                {% if entity.idEvenementAssocies[0] is defined %}
                  Associés :<br/>  
                  {% for evt in entity.idEvenementAssocies %}
                    <a href="{{ path('evenementassocie_show', { 'id': evt.id }) }}"><p style="text-align:right;">{{ evt.titreEvenement }}</p></a>
                  {% endfor %}
                {% endif %} 
                    
            </td>
            <td>    
                <a class="btn" href="{{ path('seance_show', { 'id': entity.id }) }}"><i class="icon icon-search"></i> Info</a>
                <a class="btn btn-info" href="{{ path('seance_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
            </td>
          </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
     
{% endfor %}


<br><br><br>

<script>
$("#idseances").addClass("active");
</script>
{% endblock content %}