
{% extends "CineminoSiteBundle::seancelayout.html.twig" %}
{% block title %}
{{ parent() }} - Séances
{% endblock %}


{% block titre2 %}<div class="page-header"><h3>Créer un séance</h3></div>{% endblock %}


{% block formulaire %}
<div id="formulaire" class="well">
<form action="{{ path('seance_create') }}" method="post" {{ form_enctype(form) }}>
    
  <div id="datetimepicker1" class="input-append date">
      {{ form_label(form.dateSeance) }}
      {{ form_errors(form.dateSeance) }}
      {{ form_widget(form.dateSeance) }}
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
  </div>
    {{ form_errors(form) }}
    {{ form_widget(form) }}
<br><br>        
    <p>
        <button class="btn btn-primary" type="submit">Créer la séance</button>
         <a class="btn" href="{{ path('seance') }}"><i class="icon-ban-circle"></i> Annuler</a>
    </p>
</form>
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      format :'dd/MM/yyyy hh:mm',
      language: 'fr'
    });
  });
</script>
{% endblock formulaire %}