{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}

<a class="btn btn-info" href="{{ path('film_new') }}"><i class="icon-white icon-plus"></i> Ajouter un film ou un court-métrage</a>
<br><br>
<table class="table table-bordered table-striped table-hover">
    <thead>
           <tr bgcolor="#EAE8FF">
            <th width=295>Titre du film</th>
            <th width=45>Durée</th>
            <th width=190>Realisateur</th>
            <th width=88>Affiche</th>
            <th width=88>Totem</th>            
            <th width=200>Type ou Programme</th>
            <th width=142>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      {% if entity.lescourts is not defined %}
        <tr>
            <td><a href="{{ path('film_show', { 'id': entity.id }) }}">{{ entity.titreFilm }}</a></td>
            <td>{{ entity.duree|date('H:i') }}</td>
            <td>{{ entity.realisateur }}</td>
            <td><img class="img-polaroid" style="width:75px;" src="{{asset('medias/Film/affiches/small/')}}{{entity.affiche }}" alt=""/></td>
            <td><img class="img-polaroid" style="width:75px;" src="{{asset('medias/Film/totems/brut/')}}{{entity.totem }}" alt=""/></td>            
            <!-- big/ ou small/ selon si on veut recuperer l'affiche redimensionnée ou non -->
            <td>{% if entity.type == 'n' %}Long Métrage
                {% else %}
                    Court-métrage
                     {% if entity.progCourts is not null %}<br/><br/><i>Fait partie de : </i><br/><p style="text-align:right;">{{ entity.progCourts.titreFilm }}</p>      
                     {% endif %}
                {% endif %}
            </td>
            <td>
                      
          <a class="btn" href="{{ path('film_show', { 'id': entity.id }) }}"><i class="icon icon-search"></i> Info</a>
          <a class="btn btn-info" href="{{ path('film_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
      
            </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>
<script>
 $("#idfilms").addClass("active");
</script>
{% block formulaire %}

{% endblock formulaire %}

{% endblock content %}