{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}

<div id="formulaire_film" class="well" style="width:auto">
<form action="{{ path('film_create') }}" method="post" {{ form_enctype(form) }}>
    
{{ tinymce_init() }}      
{{ form_errors(form) }}
 
<div class="row">
  <div class="span8">   
    <h5> Titre du film </h5>
    {{ form_errors(form.titreFilm) }}
    {{ form_widget(form.titreFilm, { 'attr': {'style': 'width:740px;'} }) }}
  
  </div> 
  <div class="span3">
    <h5>Affiche du film</h5>
     {{ form_errors(form.file) }}
     {{ form_widget(form.file) }}
  </div>
   
</div>
    
<div class="row">    
  <div class="span5">
      {{ form_label(form.realisateur) }}
      {{ form_errors(form.realisateur) }}
      {{ form_widget(form.realisateur, { 'attr': {'style': 'width:320px;'} }) }}
  </div>
  <div class="span6">
    {{ form_label(form.acteurs) }}
    {{ form_errors(form.acteurs) }}
    {{ form_widget(form.acteurs, { 'attr': {'style': 'width:605px;'} }) }}
  </div>        

</div>
    
<div class="row">     
   <div class="span2">
      {{ form_label(form.ageConseille) }}
      {{ form_errors(form.ageConseille) }}
      {{ form_widget(form.ageConseille, { 'attr': {'style': 'width:60px;'} }) }}
   </div>
   <div class="span3">
      {{ form_label(form.duree) }}
      {{ form_errors(form.duree) }}
      {{ form_widget(form.duree.hour, { 'attr': {'style': 'width:60px;'} }) }} : {{ form_widget(form.duree.minute, { 'attr': {'style': 'width:60px;'} }) }}
   </div>
  <div class="span4">
      {{ form_label(form.provenance) }}
      {{ form_errors(form.provenance) }}
      {{ form_widget(form.provenance) }}
  </div>
  <div class="span2">
      {{ form_label(form.anneeProd) }}
      {{ form_errors(form.anneeProd) }}
      {{ form_widget(form.anneeProd) }}
  </div>
</div>
    
<div class="row">
  <div class="span12">     
    {{ form_label(form.synopsys) }}
    {{ form_errors(form.synopsys) }}
    {{ form_widget(form.synopsys, { 'attr': {'style': 'width:1120px;height:300px;'} }) }}
  </div> 
 </div>
<br/>    
 <div class="row">
  <div class="span12"> 
    {{ form_label(form.critique) }}
    {{ form_errors(form.critique) }}
    {{ form_widget(form.critique, { 'attr': {'style': 'width:1120px;height:300px'} }) }}
  </div>
</div>
<br/>     
<div class="row">
  <div class="span3">
    {{ form_label(form.classementArtEssai) }}
    {{ form_errors(form.classementArtEssai) }}
    {{ form_widget(form.classementArtEssai) }}
  </div>              
  <div class="span3">
    {{ form_label(form.type) }}
    {{ form_errors(form.type) }}
    {{ form_widget(form.type) }}
  </div>
  <div class="span3">
    {{ form_label(form.interdiction) }}
    {{ form_errors(form.interdiction) }}
    {{ form_widget(form.interdiction) }}
  </div>
  <div class="span2">
    {{ form_label(form.stocke) }}
    {{ form_errors(form.stocke) }}
    {{ form_widget(form.stocke) }}
  </div>
</div>

<div class="row">
  <div class="span3">
    {{ form_label(form.couleurTexte) }}
    {{ form_errors(form.couleurTexte) }}
    {{ form_widget(form.couleurTexte, { 'attr': {'class': 'color'} }) }}
  </div>
  <div class="span3">
    {{ form_label(form.couleurFondFilm) }}
    {{ form_errors(form.couleurFondFilm) }}
    {{ form_widget(form.couleurFondFilm, { 'attr': {'class': 'color', 'value': '4164AA'}} ) }}
  </div>
  <div class="span2">
    {{ form_label(form.animation) }}
    {{ form_errors(form.animation) }}
    {{ form_widget(form.animation) }}
  </div>
  <div class="span3">
    {{ form_label(form.typeAnimation) }}
    {{ form_errors(form.typeAnimation) }}
    {{ form_widget(form.typeAnimation) }}
  </div>
 </div>   
<div id="ajout_media">
  <h5>Médias associés</h5>
  <div id="list_medias"> 
      {% for key, item in form.idMedias %}
          {{ _self.prototype(item) }}
      {% endfor %}
      {% macro prototype(item) %}
        <div class="row medias" style="padding-left: 5px;">
           <div class="span5">
             {{ form_label(item.titre) }}
             {{ form_errors(item.titre) }}
             {{ form_widget(item.titre, { 'attr': {'style': 'width:470px;'} }) }}
           </div>
           <div class="span2">
             {{ form_label(item.type) }}
             {{ form_errors(item.type) }}
             {{ form_widget(item.type, { 'attr': {'style': 'width:110px;'} }) }}
           </div> 
           <div class="span3">
             {{ form_label(item.file) }}
             {{ form_errors(item.file) }}
             {{ form_widget(item.file) }}
           </div> 
           <div class="span1">
             <br/>
             <a  class="btn btn-danger" href="#supp_media" rel="parametre">Supprimer</a>
          </div>
       </div>
       <br/>
     {% endmacro %}
     <script type="text/html">
       {{ _self.prototype(form.idMedias.get('prototype')) }} 
     </script>
 </div>
 <div class="row">  
  <div class="span12">
    <a class="btn btn-info" href="#add_media" id="add_media"><i class="icon-white icon-plus"></i> Ajouter un média</a>
  </div>
 </div>
 <br/>
</div>
<div class="row">
  <div class="span12">
      <button class="btn btn-primary" type="submit">Valider l'enregistrement du film</button>
  </div>
</div>

{{ form_rest(form) }} 
</form>

 <a class="btn" href="{{ path('film') }}"><i class="icon-arrow-left"></i> Revenir à la liste des films</a>

</div>

<script type="text/javascript">
    $(document).ready(function() {
    /*$('input[type=file]').change(function(e){
        var fichier = $(this).val();
        $("#affichefilm").html('<img src='+ fichier + ' />');
    });*/
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    
 
    // On définit une fonction qui va ajouter un champ.
    function add_media() {
        //var collectionHolder = $('div.medias');
        var $container = $('.medias');
        var index = $container.length;
	var newForm = $('script[type="text/html"]').text().replace(/__name__/g, index);

	$("div#list_medias").append(newForm);

              
    }

    // On ajoute un premier champ directement s'il n'en existe pas déjà un.
 
 
    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_media').click(function() {
        add_media();
    });
    
        $("div#list_medias").on("click","a[rel='parametre']", function(){ 
          if (confirm('Voulez vous réellement supprimer ce média ?')) {
            $(this).parents("div.row").remove();
          }
        	
        });
        

 $("#idfilms").addClass("active");

});

</script>


{% endblock content %}