{% extends "CineminoSiteBundle::layout.html.twig" %}
{% block title %}
{{ parent() }}
{% endblock %}

{% block alert %}Ajouter ou modifier les films présent dans la base de données.
{% endblock alert %}

{% block titre %}{{ entity.titreFilm }} - (ici visualisation à faire comme sur le FrontOffice){% endblock %}


{% block content %}


<table class="table table-bordered table-striped table-hover">
    <tbody>
        <tr>
            <th>Titre film</th>
            <td>{{ entity.titreFilm }}</td>
        </tr>
        <tr>
            <th>Realisateur</th>
            <td>{{ entity.realisateur }}</td>
        </tr>
        <tr>
            <th>Duree</th>
            <td>{{ entity.duree|date('H:i:s') }}</td>
        </tr>
        <tr>
            <th>Annee production</th>
            <td>{{ entity.anneeProd }}</td>
        </tr>
        <tr>
            <th>Classement art essai</th>
            <td>{{ entity.classementArtEssai }}</td>
        </tr>
        <tr>
            <th>Provenance</th>
            <td>{{ entity.provenance }}</td>
        </tr>
        <tr>
            <th>Interdiction</th>
            <td>{{ entity.interdiction }}</td>
        </tr>
        <tr>
            <th>Age conseille</th>
            <td>{{ entity.ageConseille }}</td>
        </tr>
        <tr>
            <th>Acteurs</th>
            <td>{{ entity.acteurs }}</td>
        </tr>
        <tr>
            <th>Synopsys</th>
            <td>{{ entity.synopsys|raw }}</td>
        </tr>
        <tr>
            <th>Critique</th>
            <td>{{ entity.critique|raw }}</td>
        </tr>
        <tr>
            <th>Affiche</th>
            <td>{{ entity.affiche }}</td>
        </tr>
        <tr>
            <th>Film d'Animation</th>
            <td>{{ entity.animation }}</td>
        </tr>
        <tr>
            <th>Type d'Animation</th>
            <td>{{ entity.typeAnimation }}</td>
        </tr>       
        <tr>
            <th>Couleur du texte</th>
            <td>{{ entity.couleurTexte }}</td>
        </tr>
        <tr>
            <th>Couleur fond film</th>
            <td>{{ entity.couleurFondFilm }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{% if entity.type=='n' %} Long métrage {% else %} Court métrage {% endif %}</td>
        </tr>
        <tr>
        <tr>
            <th>Les médias associés :</th>
            <td>
               {% if entity.idMedias[0] is defined %}
                  {% for media in entity.idMedias %}
                      <a href="{{ path('mediaFilm_edit', { 'id': media.id }) }}">{{ media.titre }}</a>
                      {% if media.type =="p" %} <img class="img-polaroid" width="450" src="{{asset('medias/Film/photos/big/')}}{{ media.url }}" alt=""/>
                        {% else %} {{ media.url|raw }}
                      {% endif %}
                     <br/>
                  {% endfor %}
                {% endif %}
            </td>
        </tr>            
        </tr>
    </tbody>
</table>

<br><br><br>
<a class="btn" href="{{ path('film') }}"><i class="icon-arrow-left"></i> Revenir à la liste des Films</a>    
<a class="btn btn-info" href="{{ path('film_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
<script>
 $("#idfilms").addClass("active");
</script>
{% endblock content %}