{% extends "CineminoSiteBundle::layout.html.twig" %}
{% block title %}
{{ parent() }}
{% endblock %}

{% block alert %}Ajouter ou modifier les programme de courts.
{% endblock alert %}

{% block titre %}Liste des programme de courts{% endblock %}


{% block content %}

<a class="btn btn-info" href="{{ path('programmecourts_new') }}"><i class="icon-white icon-plus"></i> Ajouter un programme de courts</a>
<br><br>
<table class="table table-bordered table-striped table-hover">
    <thead>
           <tr bgcolor="#EAE8FF">
            <th width=350>Titre du Programme de courts</th>
            <th width=50>Durée</th>
            <th>Realisateur</th>
            <th width=88>Affiche</th>
            <th width=300>Les courts du programme</th>
            <th width=180>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('programmecourts_show', { 'id': entity.id }) }}">{{ entity.titreFilm }}</a></td>
            <td>{{ entity.duree|date('H:i') }}</td>
            <td>{{ entity.realisateur }}</td>
            <td><img class="img-polaroid" style="width:75px;" src="{{asset('medias/Film/affiches/small/')}}{{entity.affiche }}" alt=""/></td>
            <td>
            {% for court in entity.lescourts %}
                    {{ court.titreFilm }} - {{ court.realisateur }}
                    <br/>
            {% endfor %}
            </td>
            <td>                     
                <a class="btn" href="{{ path('programmecourts_show', { 'id': entity.id }) }}"><i class="icon icon-search"></i> Info</a>
                <a class="btn btn-info" href="{{ path('programmecourts_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
      
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% block formulaire %}

{% endblock formulaire %}

{% endblock content %}