{% extends "CineminoSiteBundle::layout.html.twig" %}
{% block title %}programmecourtslayout
{{ parent() }} - Film
{% endblock %}


{% block titre %}Ajouter un programme de courts{% endblock titre %}


{% block content %}


<div id="formulaire_programmecourts" class="well" style="width:auto">
<div class="page-header"><h4>Formulaire</h4></div>
<form action="{{ path('programmecourts_create') }}" method="post" {{ form_enctype(form) }}>
    
{{ tinymce_init() }}      
{{ form_errors(form) }}
 

    <h5> Titre du programme de courts </h5>
    {{ form_errors(form.titreFilm) }}
    {{ form_widget(form.titreFilm, { 'attr': {'style': 'width:740px;'} }) }}
  
 <div style="position:absolute;margin-left:770px;margin-top:-80px;">
    
<h4>Affiche du programme de courts</h4>
  {{ form_errors(form.file) }}
  {{ form_widget(form.file, { 'attr': {'style': 'width:350px;'} }) }}
<br><br>

 <div id='affichefilm' width="151px"></div>

</div>
    
    <table>
   <tr>
        <td>
            {{ form_label(form.realisateur) }}
            {{ form_errors(form.realisateur) }}
            {{ form_widget(form.realisateur, { 'attr': {'style': 'width:740px;'} }) }}
        </td>
   </tr>
   </table>
    <table>
   <tr>
        <td>
            {{ form_label(form.provenance) }}
            {{ form_errors(form.provenance) }}
            {{ form_widget(form.provenance) }}
        </td>
        <td>
            {{ form_label(form.anneeProd) }}
            {{ form_errors(form.anneeProd) }}
            {{ form_widget(form.anneeProd) }}
        </td>

   </tr>
</table>
    

     <table>
   <tr>
       
<td>
    {{ form_label(form.ageConseille) }}
    {{ form_errors(form.ageConseille) }}
    {{ form_widget(form.ageConseille) }}
</td>     
       
<td>    
    {{ form_label(form.duree) }}
    {{ form_errors(form.duree) }}
    {{ form_widget(form.duree) }}
</td>  


   </tr>
</table>
 
    
    {{ form_label(form.synopsys) }}
    {{ form_errors(form.synopsys) }}
    {{ form_widget(form.synopsys) }}
        
    {{ form_label(form.critique) }}
    {{ form_errors(form.critique) }}
    {{ form_widget(form.critique) }}
    
<table>
               
 <td>
    {{ form_label(form.classementArtEssai) }}
    {{ form_errors(form.classementArtEssai) }}
    {{ form_widget(form.classementArtEssai) }}
</td>              
               
   <tr>
       
<td>
    {{ form_label(form.couleurTexte) }}
    {{ form_errors(form.couleurTexte) }}
    {{ form_widget(form.couleurTexte, { 'attr': {'class': 'color'} }) }}
</td>  
<td>
    {{ form_label(form.couleurFondFilm) }}
    {{ form_errors(form.couleurFondFilm) }}
    {{ form_widget(form.couleurFondFilm, { 'attr': {'class': 'color', 'value': '4164AA'}} ) }}
</td>     
   </tr>
   <br>
</table>
    
<table>
   <tr>
       
       <td>

            {{ form_errors(form.idMedia) }}
            {{ form_widget(form.idMedia) }}
       </td>

     
   </tr>
</table>
   <br/>
<table>
   <tr>
    <td>
    {{ form_label(form.lescourts) }}
    {{ form_errors(form.lescourts) }}
    {{ form_widget(form.lescourts) }}
    </td>
   </tr>
       
</table>
    <br>
   
 
     <a class="btn btn-info" href="#add_media" id="add_media"><i class="icon-white icon-plus"></i> Ajouter un média</a>
      <br><br>
      <button class="btn btn-primary" type="submit">Valider l'enregistrement du programmecourts</button>

    
</form>

 <a class="btn" href="{{ path('programmecourts') }}"><i class="icon-arrow-left"></i> Revenir a la liste</a>

</div>



<!-- On charge la librairie jQuery. Ici, je la prends depuis le
site jquery.com, mais si vous l'avez en local, changez simplement
l'adresse. -->
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('#cinemino_Sitebundle_programmecourtstype_idMedia');
 
    // On définit une fonction qui va ajouter un champ.
    function add_media() {
        // On définit le numéro du champ (en comptant le nombre de champs déjà ajoutés).
        index = $container.children().length;
        // On ajoute à la fin de la balise <div> le contenu de l'attribut « data-prototype »,
        // après avoir remplacé la variable $$name$$ qu'il contient par le numéro du champ.
        $container.append(
            $($container.attr('data-prototype').replace(/\__name__label__/g, '<h5>Média n°'+(index+1)+'</h5>'))

        );
              
    }

    // On ajoute un premier champ directement s'il n'en existe pas déjà un.
 
 
    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_media').click(function() {
        
        add_media();
             
    });
});

</script>


{% endblock content %}