{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block titre %}{{ entity.titreFilm }} - (ici visualisation à faire comme sur le FrontOffice){% endblock %}


{% block content %}


<table class="table table-bordered table-striped table-hover">
    <tbody>
        <tr>
            <th>Titre du programme de courts</th>
            <td>{{ entity.titreFilm }}</td>
        </tr>
        <tr>
            <th>Realisateur</th>
            <td>{{ entity.realisateur }}</td>
        </tr>
        <tr>
            <th>Duree</th>
            <td>{{ entity.duree|date('H:i:s') }}</td>
        </tr>
        <tr>
            <th>Annee production</th>
            <td>{{ entity.anneeProd|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Classement art essai</th>
            <td>{{ entity.classementArtEssai }}</td>
        </tr>
        <tr>
            <th>Provenance</th>
            <td>{{ entity.provenance }}</td>
        </tr>
        <tr>
            <th>Interdiction</th>
            <td>{{ entity.interdiction }}</td>
        </tr>
        <tr>
            <th>Age conseille</th>
            <td>{{ entity.ageConseille }}</td>
        </tr>
        <tr>
            <th>Acteurs</th>
            <td>{{ entity.acteurs }}</td>
        </tr>
        <tr>
            <th>Synopsys</th>
            <td>{{ entity.synopsys }}</td>
        </tr>
        <tr>
            <th>Critique</th>
            <td>{{ entity.critique }}</td>
        </tr>
        <tr>
            <th>Affiche</th>
            <td>{{ entity.affiche }}</td>
        </tr>
        <tr>
            <th>Couleur du texte</th>
            <td>{{ entity.couleurTexte }}</td>
        </tr>
        <tr>
            <th>Couleur fond film</th>
            <td>{{ entity.couleurFondFilm }}</td>
        </tr>
        <tr>
            <th>Composé des courts </th>
            <td>{% for court in entity.lescourts %} 
                {{ court.titreFilm }} - {{ court.realisateur }}
                <br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            
        </tr>
    </tbody>
</table>

<br><br><br>
<a class="btn" href="{{ path('programmecourts') }}"><i class="icon-arrow-left"></i> Revenir à la liste des programmes</a>    
<a class="btn btn-info" href="{{ path('programmecourts_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
<script>
 $("#idprogcourt").addClass("active");
</script>

{% endblock content %}