
{% extends "CineminoSiteBundle::layout.html.twig" %}


{% block content %}

<div class="well" style="width:1200px;">
    
<div class="page-header"><h3>{{ entity.nomSponsor }}</h3></div> 
<form action="{{ path('sponsor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    
 <div class="row">
    <div class="span4">
      {{ form_label(edit_form.nomSponsor) }}
      {{ form_errors(edit_form.nomSponsor) }}
      {{ form_widget(edit_form.nomSponsor) }}
      {{ form_label(edit_form.logo) }}
      {{ form_errors(edit_form.logo) }}
      {{ form_widget(edit_form.logo) }}
      {{ form_label(edit_form.fileLogo) }}
      {{ form_errors(edit_form.fileLogo) }}
      {{ form_widget(edit_form.fileLogo) }}
    </div>
    <div class="span4">
      <img class="img-polaroid" src="{{asset('medias/Sponsor/big/')}}{{ entity.logo }}" alt=""/>
    </div>
 </div>
    {{ form_widget(edit_form) }}
    
        <br>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <a class="btn" href="{{ path('sponsor') }}"><i class="icon-ban-circle"></i> Annuler</a>
    
</form>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <form action="{{ path('sponsor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> Supprimer {{ entity.nomSponsor }}</button>
        </form>
    {% endif %}

</div>
<script>
   $("#idautres").addClass("active");
</script>
{% endblock %}