
{% extends "CineminoSiteBundle::layout.html.twig" %}
{% block title %}
{{ parent() }} -  Accueil
{% endblock %}

{% block alert %}Gérez les sponsors{% endblock alert %}


{% block content %}


<div style="position:absolute;left:550px;bottom:85px;"><h4>Logo : </h4><img class="img-polaroid" width="350px" src="{{ entity.logo }}" alt=""/></div>

<div id="formulaire" class="well" style="width:800px;">
    
<div class="page-header"><h3>{{ entity.nomSponsor }}</h3></div> 
<form action="{{ path('sponsor_update', { 'id': entity.id }) }}#formulaire" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    
        <br>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <a class="btn" href="{{ path('sponsor') }}"><i class="icon-ban-circle"></i> Annuler</a>
    
</form>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <form action="{{ path('sponsor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> Supprimer {{ entity.nomSponsor }}</button>
        </form>
    {% endif %}

</div>

{% endblock %}