{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}
   <td><a class="btn btn-info" href="{{ path('lieu_new') }}"><i class="icon-white icon-plus"></i> Ajouter un Lieu Associé</a></td>
 <br/><br/>
 <table class="table table-bordered table-striped table-hover" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Photo</th>
            <th>Logo</th>
            <th>Site web</th>
            <th>Actions</th>
        </tr>
    </thead>

    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('lieu_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
            <td><img class="img-polaroid" src="{{asset('medias/Lieu/photos/small/')}}{{ entity.photo }}" alt=""/></td>
            <td><img class="img-polaroid" src="{{asset('medias/Lieu/logo/small/')}}{{ entity.logo }}" alt=""/></td>
            <td><a href="{{ entity.siteWeb }}" target="_blank">{{ entity.siteWeb }}</a></td>
            <td>
            
                    <a class="btn btn-info" href="{{ path('lieu_show', { 'id': entity.id }) }}"><i class="icon-white icon-info-sign"></i> Voir</a>
                    <a class="btn btn-info" href="{{ path('lieu_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
            </td>
        </tr>
    {% endfor %}
 
</table>
<script>
 $("#idautres").addClass("active");
    
    
</script>   
{% endblock %}