{% extends "CineminoSiteBundle::layout.html.twig" %}
{% block content %}

<a class="btn btn-info" href="{{ path('mediaIntervenant_new') }}"><i class="icon-white icon-plus"></i> Ajouter un média à un intervenant</a>
<br/><br/>
{% set idInter = 0 %}
{% for entity in entitiesInter %}
  {% if entity.idInter.id != idInter %} 
    {% set idInter = entity.idInter.id %}
    {% if loop.first == false %}</tbody></table> {% endif %}
    <table class="table table-bordered table-striped" style="border-collapse: collapse;">
       <h4>Intervenant Associé : {{ entity.idInter.nomIntervenant }}</h4>
       <tbody>
  {% endif %}   
  <tr>
      <td width=400><a href="{{ path('mediaIntervenant_show', { 'id': entity.id }) }}">{{ entity.titre }}</a></td>
      <td width=300>{{ entity.url }}</td>
      <td>
          {% if entity.type == 'p' %} <img class="img-polaroid" style="height:70px;" src="{{asset('medias/Intervenant/photos/small/')}}{{ entity.url }}" alt=""/>
          {% elseif entity.type == 'v' %} Video
          {% else %} Son
          {% endif %}
      </td>
      <td width="160px">    
          <a class="btn" href="{{ path('mediaIntervenant_show', { 'id': entity.id }) }}"><i class="icon icon-search"></i> Info</a>
          <a class="btn btn-info" href="{{ path('mediaIntervenant_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
      </td>
   </tr>
    
{% endfor %}
</tbody>    
</table>
<script>
 $("#idmedias").addClass("active");
 </script>
{% endblock content %}