
{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block titre %}{{ entity.titre }}{% endblock %}


{% block content %}

<table class="table table-bordered table-striped table-hover">
    <tbody>
        <tr>
            <th>Titre: </th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Url: </th>
            <td>{{ entity.url|raw }}</td>
        </tr>
        <tr>
            <th>Type: </th>
            <td>
                {% if entity.type == 'p' %} <img class="img-polaroid" style="height:70px;" src="{{asset('medias/Film/photos/small/')}}{{ entity.url }}" alt=""/>
                {% elseif entity.type == 'v' %} Video
                {% elseif entity.type == 'd' %} Documents
                {% else %} Son
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>L'Intervenant associé :</th>
            <td>
               {% if entity.idInter is defined %} <a href="{{ path('intervenant_show', { 'id': entity.idInter.id }) }}">{{ entity.idInter.nomIntervenant }}</a>{% endif %}
            </td>
        </tr>
    </tbody>
</table>

<br><br>

      <a class="btn" href="{{ path('mediaIntervenant') }}"><i class="icon-arrow-left"></i>Revenir à la liste des médias associés à un intervenant</a>
      <a class="btn btn-info" href="{{ path('mediaIntervenant_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Editer</a>

<script>
 $("#idmedias").addClass("active");
 </script>
{% endblock content %}