
{% extends "CineminoSiteBundle::interlayout.html.twig" %}
{% block title %}
{{ parent() }} - Intervenants
{% endblock %}


{% block formulaire %}

<div id="show" class="well" style="width:800px">
<div class="page-header"><h3>Intervenant : {{ entity.nomIntervenant }}</h3></div>   

<table class="record_properties">
    <tbody>
        <tr>
            <th>Nom intervenant :</th>
            <td>{{ entity.nomIntervenant }}</td>
        </tr>
        <tr>
            <th>Description intervenant :</th>
            <td>{{ entity.descriptionIntervenant|raw }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>{% if entity.urlPhotoIntervenant is not null %}<img class="img-polaroid" src="{{asset('medias/Intervenant/photos/big/')}}{{ entity.urlPhotoIntervenant }}" alt=""/>{% endif %}</td>
        </tr>
        <tr>
            <th>Logo</th>
            <td>{% if entity.urlLogo is not null %}<img class="img-polaroid" src="{{asset('medias/Intervenant/logo/big/')}}{{ entity.urlLogo }}" alt=""/>{% endif %}</td>
        </tr>
       
        <tr>  
            <th>Participe à :<th>
            <td>
                {% if entity.idEvenements[0] is defined %}
                  {% for evt in entity.idEvenements %}
                    {% if evt.priorite is defined %} <a href="{{ path('evenementassocie_show', { 'id': evt.id }) }}"> 
                     {% else %} <a href="{{ path('evenement_show', { 'id': evt.id }) }}">
                    {% endif %}
                    {{ evt.titreEvenement }}</a>
                   <br/>
                  {% endfor %}
                {% endif %}
            </td>
        </tr>
        
    </tbody>
</table>


<br><br>

   
      <a class="btn" href="{{ path('intervenant_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Editer</a>
      <a class="btn" href="{{ path('intervenant') }}"><i class="icon-ban-circle"></i>Annuler</a>

</div>
{% endblock %}