{% extends "CineminoSiteBundle:Front:layoutfront.html.twig" %}

{% set i = 0 %}
{% block contentcentral %}
<div class="row afflesfilms">
   {% for entity in entities %}
     {% if i == 6 %}
         </div>
         <div class="row afflesfilms">
         {% set i = 0 %}
     {% endif %}
    
    <div class="span2fs" >
        <a href='{{ path('f_film', { 'id': entity.id }) }}'><img class="img" src="{{asset('medias/Film/totems/brut/')}}{{entity.totem }}" id="{{ loop.index0 }}" {% if i >= 4 %}t="-1"{% else %}t="1"{% endif %}alt=""/></a> 
    </div>
    {% set i = i+1 %}         
    {% endfor %}
</div>
<div id="pop"></div>
{% endblock %}
  
{% block  javascripts %}
<script> 
    var resumefilm=[];
    var couleurfilm=[];
    var couleurtexte=[];
    {% for entity in entities %}
         resumefilm[{{ loop.index0 }}] = "<h3>{{ entity.titreFilm|raw }}</h3><div class='ligne'></div><h4>De {{ entity.realisateur }}</h4><h5>{{ pays[entity.provenance] }} - {{ entity.anneeProd }} - {{ entity.duree|date('H:i') }}<br/>A partir de {{ entity.ageConseille }} ans</h5>";
         couleurfilm[{{ loop.index0 }}]= "#{{ entity.couleurFondFilm }}";
         couleurtexte[{{ loop.index0 }}]= "#{{ entity.couleurTexte }}";
         $("#{{ loop.index0 }}").fadeTo('fast',0.5);
    {% endfor %}
    $(".img").hover(function() {
        $(this).fadeTo('fast',1);
        var gauche=$(this).offset();
        if ($(this).attr("t") == "1") gauche.left += 162;
        else gauche.left -= 324;
        $("#pop").offset(gauche);
        $("#pop").css("background-color", couleurfilm[$(this).attr("id")]);
        $(".ligne").css("background-color", couleurfilm[$(this).attr("id")]);
        $("#pop").css("color", couleurtexte[$(this).attr("id")])
        $("#pop").css({ "z-index":2, "top" : "180px" });
        $("#pop").html(resumefilm[$(this).attr("id")]);
     },function(){
        $(this).fadeTo('fast',0.5);
        $("#pop").css("z-index",-1);
        $("#pop").html("");
     });

 $("#idfilms").addClass("active");

</script>
{% endblock %}

