{% extends "CineminoSiteBundle:Front:layoutfront.html.twig" %}
{% set mois = [' ','janvier','février','mars','avril','mai','juin','juillet','août','septembre','octobre','novembre','décembre'] %}
{% set lejour = ['Dimanche','Lundi', 'Mardi','Mercredi','Jeudi','Vendredi','Samedi'] %}

{% block contentcentral %}
  <img id="nuage" src="{{ asset('bundles/cineminosite/images/index/nuage.png') }}"/>
  <img id="nuage1" src="{{ asset('bundles/cineminosite/images/index/ptnuage.png') }}"/>
  <img id="rosace" src="{{ asset('bundles/cineminosite/images/index/rosace.png') }}"/>
  <img id="fondhome" src="{{ asset('bundles/cineminosite/images/index/potofilet.png') }}"/>
  <img id="fondville" src="{{ asset('bundles/cineminosite/images/index/villebleue.jpg') }}"/>
  <img id="fondrose" src="{{ asset('bundles/cineminosite/images/index/fdrose.png') }}"/>
  <img id="lp1" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe1.png') }}"/>
  <img id="lp2" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe2.png') }}"/>
  <img id="lp3" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe3.png') }}"/>
  <img id="lp4" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe4.png') }}"/>
  <img id="lp5" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe5.png') }}"/>
  <img id="lp6" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe6.png') }}"/>
  <img id="lp7" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe7.png') }}"/>
  <img id="lp8" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe8.png') }}"/>
  <img id="lp9" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe9.png') }}"/>
  <img id="lp10" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe10.png') }}"/>
  <img id="lp11" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe11.png') }}"/>
  <img id="lp12" class="lp" src="{{ asset('bundles/cineminosite/images/index/lampe12.png') }}"/>
  {% if entities[0] is defined %}  
        <div id="jour0">PROGRAMME</div> 
        <div id="jour1">{{ lejour[entities[0].dateSeance|date('w')] }} {{ entities[0].dateSeance|date(' d ') }} {{ mois[entities[0].dateSeance|date('n')] }}</div>
  {% else %} <div id="jour0">Aujourd'hui</div><div id="jour1">Pas ou plus de séances</div>
  {% endif %}
 <div id="infoseance"> </div>
 <div class="row lh"></div>
{% endblock contentcentral %}

{% block contentbas %}
    <div class="row" id="blocsbas">
        <div class="span4" id="basgauche">
            <img src="{{ asset('bundles/cineminosite/images/index/telecharg.png') }}"/>
            <img src="{{asset('medias/Cinemino/big/')}}{{cinemino[0].couverture }}"/>
        </div>  
        <div class="span1 lv"></div>
         <div class="span4" id="basmilieu">
            <div id="blocphoto">
                {% if photo is null %}
                   <img id="phind" class="img-polaroid" src="{{asset('medias/In/photos/big/nothing.jpg')}}"/>
                   <p id="legind">C'était l'année dernière</p>
                {% else %}
                   <img id="phind" class="img-polaroid" src="{{asset('medias/In/photos/big/')}}{{ photo.url }}"/>
                   <p id="legind">{{ photo.titre }}</p>            
                {% endif %}
             </div>
             <img id="miss" src="{{ asset('bundles/cineminosite/images/index/miss.png') }}"/>
             <img id="bulle" src="{{asset('bundles/cineminosite/images/index/bulle.png') }}"/>
             <img id="rh" src="{{asset('bundles/cineminosite/images/index/rubanR.png') }}"/>
             <img id="rb" src="{{asset('bundles/cineminosite/images/index/rubanBR.png') }}"/>
        </div>
        <div class="span1 lv"></div>
        <div class="span4" id="basdroit">
                    <p>aux-texte: a pour fonction de faire office de texte de substitution ou d'outil permettant la comparaison et l'appréciation de différentes polices.
              On appelle Lipsum un texte qui, en l'absence du texte définitif, sert de substitut aux futurs contenus lors de la production de maquettes pour les publications ou sites Web. Le terme Lipsum est issu de la contraction du plus connu de ce type de texte "Lorem ipsum". Ils sont également connus sous les noms de texte blanc, faux-texte, bolo bolo, pseudo texte, texte factice, vrai faux texte, faux contenu, texte de remplissage, de remplacement, ou d'attente. Outre son usage dans les milieux de l'imprimerie et du graphisme, certains chansonniers en font l'utilisation lors de la composition de mélodies, chantant ces textes en amont de l'écriture de leur textes. L'utilisation de faux-textes aurait déjà été une pratique courante depuis le 16ème siècle dans les milieux de l'imprimerie et de la composition.

              Caractère pratique et non-sens du contenu
              Les faux-textes sont également couramment employés à des fins de présentation et de comparaison de la maquette et des variantes typographiques. Ces textes sont pour la plupart sans valeur sémantique, leurs contenus en soit sont dénués de sens. La perception humaine étant apte à intégrer certaines formes et certains schémas de répétitions à la lecture, l'inintelligibilité de leur contenu reste la principale raison de leur utilisation répandue dans le domaine du graphisme. Si tant est que la répartition et la longueur des "mots" reste arbitraire, ceux-ci ne détournent alors en rien l'attention du lecteur de l'appréciation de l'effet visuel et de la lisibilité des polices de caractère (typographies), tout autant que de la disposition et du calibrage du texte sur la page (mise-en-page et surface de composition). C'est pourquoi les faux-textes consistent souvent en une suite plus ou moins arbitraire de mots ou de syllabes. Les schémas de répétitions ne peuvent donc plus troubler l'impression générale, et les typographies peuvent être comparées plus aisément. D'autre part, il est avantageux que le faux-texte reste relativement réaliste, afin que la maquette corresponde au produit final et que la future publication n'en soit pas altérée.

                    </p>
        </div>       
    </div>  
{% endblock %} 
          
{% block javascripts %}
  <script>
     $(function(){ 
       function rand(min, max) {
            return Math.floor(Math.random() * (max - min) + min);
         }

         var angle=0;
         var coord_depart = $("#nuage").offset(); 
        function animrosace(){ 
            angle+=2;
            if (angle>=180)angle=0;
            $("#rosace").rotate(angle);
            setTimeout(animrosace, 100);
        }
        
        function animnuage() { 
        // On bouge le nuage
            coords= $("#nuage").offset();
            coords.top +=rand(-4,+7);
            if (coords.top>(coord_depart.top + 30)) coords.top -=7;
             else if (coords.top>(coord_depart.top - 30)) coords.top +=4;
            coords.left += 3;
            if(coords.left>(coord_depart.left + 1000)) coords=coord_depart;
            $("#nuage").offset(coords);
            coords= $("#nuage1").offset();
            coords.top +=rand(-4,+7);
            if (coords.top>(coord_depart.top + 30)) coords.top -=7;
             else if (coords.top>(coord_depart.top - 30)) coords.top +=4;
            coords.left += 3;
            if(coords.left>(coord_depart.left + 1000)) coords=coord_depart;
            $("#nuage1").offset(coords);
            setTimeout(animnuage, 2500);
        }
        setTimeout(function(){
          animnuage();  
        },2500);
        
        setTimeout(function(){
          animrosace();  
        },300);
      
    var lesseances=[];
    var leshoraires=[];
    var lesseancesf=[];
    var leshorairesf=[];
    for (var i=0; i<12;i++)
      {
        lesseances[i] = "";
        leshoraires[i] = "";  
      }
    {% set heure='0:0' %}
    {% set i = -1 %}
    {% for laseance in entities %}
        {% if laseance.dateSeance|date('H:i') != heure %}
            {% set i = i+1 %}
            leshoraires[{{ i }}]='<h1>' + '{{ laseance.dateSeance|date('H:i') }}' + '<br/></h1>';
        {% endif %}   
        lesseances[{{ i }}] +="<a href='{{ path('f_film', { 'id': laseance.idFilm.id }) }}'><img class='img-polaroid' style='width:100px;' src='{{asset('medias/Film/affiches/small/')}}{{laseance.idFilm.affiche }}' alt=''/></a><p class='pfilm' >{{ laseance.idFilm.titreFilm }}</p><p style='color:#{{ laseance.idCinema.couleurFondCinema }}'> <a href='{{ path('f_cinema', { 'id': laseance.idCinema.id }) }}'>{{ laseance.idCinema.nomCinema }}</a></p>"; 
        {% if laseance.idEvenements[0] is defined %}
            {% for evt in laseance.idEvenements %}      
              lesseances[{{ i }}] += "<p><a href='{{ path('f_anim', { 'id': laseance.id }) }}'><img src='{{asset('medias/picto/')}}{{evt.idType.picto }}' alt=''/></a></p>";
            {% endfor %}
        {% endif %}
        {% if laseance.idEvenementAssocies[0] is defined %}
           {% for evt in laseance.idEvenementAssocies %}
               lesseances[{{ i }}] += "<p><a href='{{ path('f_anim', { 'id': laseance.id }) }}'><img src='{{asset('medias/picto/')}}{{evt.idType.picto }}' alt=''/></a></p>";
           {% endfor %}
        {% endif %}
        lesseances[{{ i }}] +="<div class='pcine'></div>";
        {% set heure=laseance.dateSeance|date('H:i') %}
    {% endfor %}
    // on spécifie suivant le nombre d'heures différents    
    if ({{ i }}>0 && {{ i }}<12) 
    {     
      var modulo = parseInt(10 / {{ i }});
      var y =0;
      for (var i=0; i<12;i++)
      {
        lesseancesf[i] = "";
        leshorairesf[i] = "";  
      }
      for (var i=0; i<({{ i }}+1) ;i++)
      {
        lesseancesf[y] = lesseances[i];
        leshorairesf[y] = leshoraires[i];
        y +=modulo;
      }

      for (var i=0; i<12;i++)
      {
        lesseances[i] = lesseancesf[i];
        leshoraires[i] = leshorairesf[i]; 
      }    

    }
    var lpallume = 0;
    $(".lp").click(function(){
      var coord= $(this).offset();
      var num = parseInt($(this).attr("id").substring(2))-1;
      if ($("#infoseance").css("visibility")=="visible" && num==lpallume || lesseances[num]==0) $("#infoseance").css("visibility","hidden");
         else 
            {
                lpallume = num;
                coord.top +=40;
                if (num == 5) coord.left -=156;
                 else if (num>5) coord.left -=322;
                
                $("#infoseance").offset(coord);
                $("#infoseance").html(leshoraires[num] + lesseances[num]);        
                $("#infoseance").css("visibility","visible"); 
            }
    });
    
     $("#blocphoto").rotate(-10); 
 
     
     $("#miss").rotate(-7);  
     $("#rb").rotate(-10);  
     $("#rh").rotate(-10); 
     $("#jour0").rotate(-20); 
     $("#jour1").rotate(10); 
     
});
  </script>
{% endblock %}