<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue dans le monde de Cinémino!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/css/front.css') }}" rel="stylesheet">
        <script src="{{ asset('css/js/jquery-1.3.2.js')}}"></script>
        <script type="text/javascript" src="{{ asset('css/js/ui.core.js') }}"></script>
        <script type="text/javascript" src="{{ asset('css/js/ui.sortable.js') }}"></script>
        <script type="text/javascript">
            (
            function($){

                $.fn.shuffle = function() {
                    return this.each(function(){
                        var items = $(this).children();

                        return (items.length)
                            ? $(this).html($.shuffle(items,$(this)))
                        : this;
                    });
                }

                $.fn.validate = function() {
                    var res = false;
                    this.each(function(){
                        var arr = $(this).children();
                        res =    ((arr[0].innerHTML=="C")&&
                            (arr[1].innerHTML=="i")&&
                            (arr[2].innerHTML=="n")&&
                            (arr[3].innerHTML=="é")&&
                            (arr[4].innerHTML=="m")&&
                            (arr[5].innerHTML=="i")&&
                            (arr[6].innerHTML=="n")&&
                            (arr[7].innerHTML=="o"));
                    });
                    return res;
                }

                $.shuffle = function(arr,obj) {
                    for(
                    var j, x, i = arr.length; i;
                    j = parseInt(Math.random() * i),
                    x = arr[--i], arr[i] = arr[j], arr[j] = x
                );
                    if(arr[0].innerHTML=="1") obj.html($.shuffle(arr,obj))
                    else return arr;
                }

            })(jQuery);

            $(function() {
                $("#sortable").sortable();
                $("#sortable").disableSelection();
                $('ul').shuffle();

                $("#formsubmit").click(function(){
                    ($('ul').validate()) ? $(".registration").submit() : alert("Vous devez reconstituer le mot Cinémino en déplaçant les lettres!");
                });
            });
        </script>
    </head>
    <body>
        <form class="registration" action="{{ path('frontnewsletter_create') }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <legend>Reconstituez le mot Cinémino</legend>
                <div class="captcha_wrap">
                    <div class="captcha">
			Cliquez et déplacez
                    </div>
                    <ul id="sortable">
                        <li class="captchaItem">C</li>
                        <li class="captchaItem">i</li>
                        <li class="captchaItem">n</li>
                        <li class="captchaItem">é</li>
                        <li class="captchaItem">m</li>
                        <li class="captchaItem">i</li>   
                        <li class="captchaItem">n</li>
                        <li class="captchaItem">o</li>
                    </ul>
                </div>
            </fieldset>
            <fieldset>
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
                <p>{{ erreur }}</p>
                {{ form_errors(form) }}
                {{ form_widget(form) }}
           </fieldset>
                <a id="formsubmit" class="button">Enregistrez moi !</a>

        </form>
    </body>
</html>