{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}
<div style="width:1250px">
<a class="btn btn-info" href="{{ path('evenementassocie_new') }}"><i class="icon-white icon-plus"></i> Ajouter un évenement associé</a>
<br/><br/>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th width="150px">Titre</th>
            <th width="400px">Description</th>
            <th width="50px">Type</th>
            <th width="80px">Date début </th>
            <th width="80px">Date fin</th>
            <th width="50px">Priorite</th>
            <th width="50px">Lieu</th>
            <th width="100px">Intervenants</th>
            <th width="160px">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entitiesAss %}
        <tr>
            <td><a href="{{ path('evenementassocie_show', { 'id': entity.id }) }}">{{ entity.titreEvenement }}</a></td>
            <td>{{ entity.descriptionEvenement|raw }}</td>
            <td>{{ entity.idType.label }}</td>
            <td>{% if entity.dateEvenement %}{{ entity.dateEvenement|date('Y-m-d') }}{% endif %}</td>
            <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d') }}{% endif %}</td>
            <td>{{ entity.priorite }}</td>
            <td>{{ entity.idLieu }}</td>
            <td>
                {% if entity.idIntervenants[0] is defined %}
                  {% for evt in entity.idIntervenants %}
                   <a href="{{ path('intervenant_show', { 'id': evt.id }) }}">{{ evt.nomIntervenant }}</a>
                   <br/>
                  {% endfor %}
                {% endif %}
            </td>
            <td>
          <a class="btn" href="{{ path('evenementassocie_show', { 'id': entity.id }) }}"><i class="icon icon-search"></i> Info</a>
          <a class="btn btn-info" href="{{ path('evenementassocie_edit', { 'id': entity.id }) }}"><i class="icon-white icon-pencil"></i> Editer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<script>
 $("#idevt").addClass("active");
</script>
{% endblock content %}