
{% extends "CineminoSiteBundle::layout.html.twig" %}
{% block title %}
{{ parent() }} -  Accueil
{% endblock %}

{% block alert %}Gérez les médias liés au films. Un média peut etre lié a plusieurs films.<br>
{% endblock %}

{% block titre %}{{ entity.titre }}{% endblock %}


{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Titre: </th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Url: </th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>Type: </th>
            <td>
                {% if entity.type == 'p' %} <img class="img-polaroid" style="height:70px;" src="{{asset('medias/Film/photos/small/')}}{{ entity.url }}" alt=""/>
                {% elseif entity.type == 'v' %} Video
                {% elseif entity.type == 'd' %} Documents
                {% else %} Son
                {% endif %}
          </td>
        </tr>
    </tbody>
</table>
{% if entity.type == 'p' %}
<br><img class="img-polaroid" width="450" src="{{asset('medias/Film/photos/big/')}}{{ entity.url }}" alt=""/>
{% endif %}

<br><br>

      <a class="btn" href="{{ path('mediaFilm') }}"><i class="icon-arrow-left"></i> Revenir à la liste des médias associés à un film</a>
      <a class="btn" href="{{ path('mediaFilm_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Editer</a>

<script>
 $("#idmedias").addClass("active");
 </script>
{% endblock content %}